{% extends "base.html" %}
{% load static %}

{% block style %}

{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Agregar Egreso</h2>
    
    <form method="POST" id="form-agregar-egreso">
        {% csrf_token %}
        <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad</label>
            <input type="number" class="form-control" id="cantidad" name="cantidad" required>
        </div>

        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion">
        </div>

        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" id="fecha" name="fecha" required>
        </div>

        <div class="mb-3">
            <label for="fuente" class="form-label">Proposito</label>
            <input type="text" class="form-control" id="proposito" name="proposito" required>
        </div>

        <div class="mb-3">
            <label for="cuenta" class="form-label">Cuenta</label>
            <div class="d-flex align-items-center">
                <div class="input-group">
                    <button type="button" class="btn btn-info btn-sm ms-2" id="ver-todas-cuentas">
                        <i class="fas fa-eye">Ver cuentas</i> 
                    </button>
                    <input type="text" class="form-control" id="cuenta" name="cuenta_nombre" autocomplete="off" required>
                    <input type="hidden" id="cuenta_id" name="cuenta">
                    
                    <button type="button" class="btn btn-success btn-sm" id="agregar-cuenta">
                        <i class="fas fa-plus-circle"></i> 
                    </button>

                    <ul class="list-group" id="lista-cuentas" style="position: absolute; z-index: 1000; display: none;"></ul>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="d-flex align-items-center">
            <button type="submit" class="btn btn-primary align-items-center">Agregar Egreso <i class="fas fa-plus-circle"></i></button>
            </div>
        </div>
            
    </form>
</div>
<!-- Ventana Modal -->
<div class="modal fade" id="modalCuentas" tabindex="-1" aria-labelledby="modalCuentasLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCuentasLabel">Todas las Cuentas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="tabla-cuentas" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Banco</th>
                            <th>Cuenta</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos se inyectarán aquí -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Ventana Modal para agregar cuenta -->
<div class="modal fade" id="modalAgregarCuenta" tabindex="-1" aria-labelledby="modalAgregarCuentaLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarCuentaLabel">Agregar Cuenta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- El formulario se cargará aquí -->
                <div id="insert-form-agregar-cuenta-bancaria"></div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="modelo_principal" value="{{modelo_principal}}">

{% endblock %}

{% block javascript %}
<!-- Incluyendo jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Incluyendo jQuery UI -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- Incluyendo el script de bootstrap (opcional si ya está en base.html) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Incluyendo SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Incluyendo Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- Incluyendo DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script src="{% static 'js/formularios.js' %}"></script>


{% endblock %}