{% extends "base.html" %}
{% load static %}

{% block style %}

{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-warning" id="titulo_principal">Agregar Préstamo</h2>
    <form method="post" id="form-agregar-prestamo">
        {% csrf_token %}
        <div class="mb-3">
            <label for="descripcion" class="form-label text-warning">Descripcion</label>
            <input type="text" class="form-control border-warning" id="descripcion" name="descripcion" required>
        </div>

        <div class="mb-3">
            <label for="monto_total" class="form-label text-warning">Monto Total</label>
            <input type="number" class="form-control border-warning" id="monto_total" name="monto_total" required>
        </div>

        <div class="mb-3">
            <label for="tasa_interes" class="form-label text-warning">Tasa de Interés</label>
            <input type="number" class="form-control border-warning" id="tasa_interes" name="tasa_interes" required>
        </div>

        <div class="mb-3">
            <label for="fecha_inicio" class="form-label text-warning">Fecha de Inicio</label>
            <input type="date" class="form-control border-warning" id="fecha_inicio" name="fecha_inicio" required>
        </div>

        {# Campo usuario prestamista #}
        <div class="mb-3">
            <label for="cuenta" class="form-label">Usuario prestamista</label>
            <div class="input-group">
                <button type="button" class="btn btn-info btn-sm ms-2" id="ver-todos-usuarios" data-bs-toggle="modal" data-bs-target="#modalUsuarios">
                    <i class="fas fa-eye
                    ">Ver usuarios</i>
                </button>
                <input type="text" class="form-control" id="usuario_prestamista" name="usuario_prestamista_nombre" autocomplete="off" placeholder="Busca el usuario" required data-target-input="#usuario_prestamista" data-target-hidden-input="#usuario_prestamista_id">
                <input type="hidden" id="usuario_prestamista_id" name="usuario_prestamista">

                <button type="button" class="btn btn-success btn-sm" id="agregar-usuario">
                    <i class="fas fa-plus-circle"></i>
                </button>

                <ul class="list-group" id="lista-usuarios" style="position: absolute; z-index: 1000; display: none;" data-target-input="#usuario_prestamista" data-target-hidden-input="#usuario_prestamista_id"></ul>
            </div>
        </div>
        {# Campo usuario prestamista #}



        <div class="mb-3">
            <div class="d-flex align-items-center">
                <button type="submit" class="btn btn-warning align-items-center" id="boton_agregar">Agregar Préstamo <i class="fas fa-plus-circle"></i></button>
            </div>
        </div>
    </form>
</div>

<!-- Ventana Modal visualizar (usuarios) -->
<div class="modal fade" id="modalUsuarios" tabindex="-1" aria-labelledby="modalUsuariosLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalUsuariosLabel">Usuarios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <table id="tabla-usuarios" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Los datos se inyectarán aquí -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Ventana Modal para agregar (usuario) -->
<div class="modal fade" id="modalAgregarUsuario" tabindex="-1" aria-labelledby="modalAgregarUsuarioLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarUsuarioLabel">Agregar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- El formulario se cargará aquí -->
                <div id="insert-form-agregar-usuario"></div>
            </div>
        </div>
    </div>
</div>

{# Modelo #}
<input type="hidden" id="modelo_principal" value="{{modelo_principal}}">

{% endblock %}

{% block javascript %}
<!-- Incluyendo jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Incluyendo jQuery UI -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- Incluyendo el script de bootstrap (opcional si ya está en base.html) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Incluyendo SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Incluyendo Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- Incluyendo DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script src="{% static 'js/formularios.js' %}"></script>


{% endblock %}